@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
:root{
    --background-color1: #f4f4f4;
    --background-color2: #E6E8EF;
    --border-color: #56667A;
    --active-color: #D16666
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    border: none;
    text-decoration: none;

}
a{
    color: inherit;
}
body{
    background-color: var(--background-color1);
}
.content{
    background-color: var(--background-color2);
    max-width: 1200px;
    display: grid;
    grid-template-columns: 240px auto;
    min-height: 100vh;
    position: relative;
    margin: auto;
}
.side-bar{
    border-right: 2px solid var(--border-color);
    margin: 5px 0;
}
.side-bar-image img{
    border-radius: 50%;
    width: 150px;
    display: block;
    margin: 15px auto 0;
}
.side-bar-name{
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.side-bar-name span{
    font-size: 21px;
}
.side-bar-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 10px;
}
.side-bar-menu span{
    cursor: pointer;
}
.side-bar-content{
    height: 100vh;
    position: fixed;
    width: 240px;
}
.active{
    color: var(--active-color);
}
.side-bar-contact{
    display: flex;
    position: absolute;
    left: 42px;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    bottom: 25px;
}
.intro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 510px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.intro-image{
    display: none;
}
.intro h2{
    font-size: 40px;
    font-weight: 700;
    padding: 5px;
}
.intro p{
    font-size: 24px;
}
.intro span{
    padding: 10px;
    border: 2px solid;
    display: inline-block;
    width: 90px;
    text-align: center;
    margin: 20px 10px 0 0;
    cursor: pointer;
}
.experience,.education,.activities{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: auto;
}
.experience h2,.education h2,.activities h2{
    font-size: 40px;
    font-weight: 700;
    border-bottom: 3px dashed;
    border-top: 3px dashed;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.jobs,.schools,.certificates,.projects{
    width:100%;
}
.job,.school{
    padding: 20px 50px 0px;
}
.job h3,.certificate h3{
    font-size: 20px;
    border-bottom: 2px solid;
    margin: 0 0 10px 0;
    display: inline-block;
}
.job-timeline,.education-timeline{
    display: block;
    font-size:10px;
    padding: 0 0 10px 0;
}
.certificate{
    padding: 50px 50px 0px;
}
.certificate-content{
    display: flex;
    gap: 50px;
    align-items: center;
    padding-bottom: 30px;
    width: 400px;
    justify-content: space-between;
}
.certificate-content span{
    border: 2px solid;
    padding: 8px;
    cursor: pointer;
    box-shadow: 0 0 3px 1px #6c6c6c;
}
.certificate-content p{
    font-size: 14px;
}
.certificate h3{
    width: 400px;
}
.projects h3{
    padding: 20px 0 0;
    font-size: 20px;
    border-bottom: 2px solid;
    margin: 0 0 10px 50px;
    display: inline-block;
}
.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 20px 0 20px;
    margin: 0 50px;
}
.project span{
    font-size: 18px;
}
.code{
    border: 2px solid;
    padding: 8px;
    cursor: pointer;
    box-shadow: 0 0 3px 1px #6c6c6c;
}
.code:hover, .certificate-content span:hover,.buttons span:hover{
    box-shadow: 0 0 3px 1px #000;
}
.side-bar-menu span:hover{
    font-size:17px;
}
.contact-info-content{
    display: block;
    position: absolute;;
    width: -webkit-fill-available;
    top: 0;
    margin-left: 240px;
}
.contact-info-content div{
    position: relative;
    padding: 35px;
    background-color: #d2d2d2;;
    max-width: 330px;
    margin: 300px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #000;
}
.contact-info-content p{
    padding-bottom: 10px;
}
.close{
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 18px;
    line-height: 18px;
    background-color: #999;
    padding: 10px 12px;
    border-radius: 0 9px 0px 10px;
    cursor: pointer;
}
.hidden{
    display: none;
}

/*              */
/*              */
/*  responsive  */
/*              */
/*              */
@media (max-width: 600px) {
    .content {
      display: block;
      width: 100%;
    }
    .side-bar{
        width: 100%;
        margin: 0;
        border: none;
        position: fixed;
        top: 0;
    }
    .side-bar-content{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #999;
        height: 40px;
    }
    .side-bar-image, .side-bar-contact,.side-bar-name{
        display: none;
    }
    .side-bar-menu{
        margin: 0;
        padding-top: 10px;
        justify-content: space-around;
        flex-direction: row;
    }
    .intro-image{
        display: block;   
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin-bottom: 12px;
    }
    .contact-info-content{
        margin:10px;
    }
    .intro{
        margin: 0 20px;
    }
    .experience,.education{
        padding-bottom: 50px;
    }
    .certificate h3 {
        width: -webkit-fill-available;
    }
    .certificate-content{
        max-width: -webkit-fill-available;
    }
    .activities{
        display: none;
    }
  }